<nav class="deep-purple" role="navigation">
    <div class="nav-wrapper">
      <div class="center-align"><i class="material-icons">vpn_key</i></div>
    </div>
</nav><br/><br/>
<div class ="formy">

<h3 class="center-align">Verification Form</h3>

<div class="row">
<div class="col s6 push-s3">
<h5>Email</h5>
<div><loop-back></loop-back></div>


<h5>Password</h5>
<div><key-up1></key-up1></div>

<h5>Confirm Password</h5>
<div><key-up2></key-up2></div>

<h5>Key</h5>
  <label>Select From One of the Following</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
<div><key-up3></key-up3></div>


  </div>
  </div>

<p class="center-align">
  <click-me></click-me>
</p>
<br/><br/>
<footer class="page-footer deep-purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Meteor 2016 BeenVerified ©
      </div>
    </div>
  </footer>
